<header>
  <a href="home" class="header_logo" title="escape route link to homepage"><img src="../images/Logo_1.png" alt="image of NC&O logo"/></a>
  <h1 class="main_h1">Fortins Management Service</h1>
  <div class="account_logout_links">
    <a href="myaccount" title="link to my account page">My Account</a> |
    <a href="login" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Drivers</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to Orders page">Orders</a></li>
    </ul>
  </nav>
</header>
<h2>Admins</h2>
<a class="register_link" href="register" title="link to register page">Add New User</a>
<table>
  <tr>
    <th>Full Name</th>
    <th class="display_gender">Gender</th>
    <th class="display_phone">Phone Number</th>
    <th class="display_street_address">Street Address</th>
    <th class="display_zip">Zip Code</th>
    <th>Email</th>
  </tr>
  <tr ng-repeat="admin in admins">
    <td><a href="#" alt="Link to admin account page">{{admin.first_name}} {{admin.last_name}}</a></td>
    <td class="display_gender">{{admin.gender}}</td>
    <td class="display_phone">{{admin.phone_number}}</td>
    <td class="display_street_address">{{admin.street_address}}</td>
    <td class="display_zip">{{admin.postal_code}}</td>
    <td>{{admin.email}}</td>
  </tr>
</table>
