<section id="section1">
  <h1>Fortins Delivery/Courier</h1>
  <h1>Management Service</h1>
  <header>
    <h1 class="homepage_h1">Contact</h1>
    <div class="account_logout_links">
      <a href="login" title="link to home page">Login</a> |
      <a href="register" title="link to register page">Register</a>
    </div>
  </header>
<section id="about_us">
  <h3>About Us</h3>
  <div class="third_1">
    <p class="top_border">This delivery or courier management service was designed to provide your company with the latest in web technology available to you at the lowest cost possible. We provide real time data exchange between your place of business, your employees and your costumers all with one service. </p>
  </div>
  <div class="third_2">
    <p class="top_border">With our customer website, your users will have the ability to easily order what they need from anywhere with an internet connection. With the order placed the information for that order will arrive on your management website where you can see the transactions happening in real time. From there you can send one of your drivers out following the directions from our mobile driver application giving them turn by turn directions to the destination.</p>
  </div>
  <div class="third_3">
    <p class="top_border">Your employees will have their job simplified 10 fold by using this service. The admins will have the ability to watch every aspect of the business transactions happen in real time from one management website. They will see the orders come in from the customer website, and will have the ability to send drivers out to fill the orders placed. Keeping your business moving like a well oiled machine.</p>
  </div>
</section>
<section id="section3">
  <h3 class="price_overview_border">Contact Us</h3>
  <div class="contact_1">
    <h4>Call</h4>
    <p>(802) 233-5124</p>
  </div>
  <div class="contact_2">
    <h4>Email</h4>
    <p>fortinDMS@gmail.com</p>
  </div>
  <div class="contact_3">
    <h4>Address</h4>
    <p>2964 Pinewood Road<br>
     Burlington, VT 05265</p>
  </div>
</section>
<section id="section3">
  <h3 class="price_overview_border">Price Overview</h3>
    <div class="third_1">
      <h4 class="price_overview">Free Version</h4>
      <div class="box_1">
        <h2>Free</h2>
        <p>Because our service is new to the market we are offering a free service to test how your company will improve using our service. We have no tested data on how well this service will do, that is why we are offering a free service to prove how well this service will work and potentially grow your company. Please call and ask about the free test service today!</p>
      </div>
    </div>
    <div class="third_2">
      <h4 class="price_overview">Standard Basic Service</h4>
      <div class="box_2">
        <h2>$499.99</h2>
        <p>This is our regular service and will be the basic package. After initially getting our service implemented into your company we will offer a overhead watch for 3 months. After this 3 month period we want your comapany to provide 499.99 every 3 months for our team to stay with your company and take care of any problems that may arise. </p>
      </div>
    </div>
    <div class="third_3">
      <h4 class="price_overview">Premium Full Service</h4>
      <div class="box_3">
        <h2>$1499.99</h2>
        <p>This is our Premium service and will provide your company with the best we have to offer. We will implement our service with this first initial payment. After this we will stay with your company taking care of any problems that may arise for 9 months. </p>
      </div>
    </div>
</section>
