<header>
  <a href="home" class="header_logo" title="escape route link to homepage"><img src="../images/Logo_1.png" alt="image of NC&O logo"/></a>
  <h1 class="main_h1">Fortins Management Service</h1>
  <div class="account_logout_links">
    <a href="home" title="link to my account page">My Account</a> |
    <a href="login" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Drivers</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to Orders page">Orders</a></li>
    </ul>
  </nav>
</header>
<h2>Customers</h2>

<table>
  <tr>
    <th>Full Name</th>
    <th class="display_gender">Gender</th>
    <th class="display_phone">Phone Number</th>
    <th>Street Address</th>
    <th class="display_zip">Zip Code</th>
    <th class="display_email">Email</th>
  </tr>
  <tr ng-repeat="customer in customers">
    <td><a href="#" alt="link to customer account page">{{customer.first_name}} {{customer.last_name}}</a></td>
    <td class="display_gender">{{customer.gender}}</td>
    <td class="display_phone">{{customer.phone_number}}</td>
    <td>{{customer.street_address}}</td>
    <td class="display_zip">{{customer.postal_code}}</td>
    <td class="display_email">{{customer.email}}</td>
  </tr>
</table>

<!-- <ul>
  <li ng-repeat="customer in customers">
    <p>
      {{customer.first_name}}
    </p>
    <pre> {{customer | json}} </pre>

  </li>
</ul> -->
