<header>
  <a href="home" class="header_logo" title="escape route link to homepage"><img src="../images/Logo_1.png" alt="image of NC&O logo"/></a>
  <h1 class="main_h1">Fortins Management Service</h1>
  <div class="account_logout_links">
    <a href="home" title="link to my account page">My Account</a> |
    <a href="login" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Drivers</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to Orders page">Orders</a></li>
    </ul>
  </nav>
</header>
<h2>Drivers</h2>
<a class="register_link" href="register" title="link to register page">Add New User</a>
<table>
  <tr>
    <th>Full Name</th>
    <th class="display_gender">Gender</th>
    <th class="display_deliveries">Deliveries Made</th>
    <th>Orders Todo</th>
    <th>Email</th>
    <th class="display_created">Date Created</th>
  </tr>
  <tr ng-repeat="driver in drivers">
    <td><a href="#" alt="link to drivers account">{{driver.first_name}} {{driver.last_name}}</a></td>
    <td class="display_gender">{{driver.gender}}</td>
    <td class="display_deliveries">{{driver.deliveries_made}}</td>
    <td>{{driver.orders_todo}}</td>
    <td>{{driver.email}}</td>
    <td class="display_created">{{driver.date_created}}</td>
  </tr>
</table>
