<header>
  <a href="home" class="header_logo" title="escape route link to homepage"><img src="../images/Logo_1.png" alt="image of NC&O logo"/></a>
  <h1 class="main_h1">Fortins Management Service</h1>
  <div class="account_logout_links">
    <a href="myaccount" title="link to my account page">My Account</a> |
    <a href="logout" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Drivers</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to Orders page">Orders</a></li>
    </ul>
  </nav>
</header>
<section class="split">
  <h3>Recent Orders</h3>
  <ul ng-repeat="order in orders | orderBy:'needby' | limitTo: 5">
    <li>
      <h4 class="border_top">{{order.firstname}} {{order.lastname}}</h4>
        <h5 class="light_gray">{{order.address}} {{order.zip}}</h5>
        <h5 class="light_gray">{{order.amount}} {{order.amountType}} {{order.orderType}}</h5>
        <h5 class="light_gray"><b>Need by</b> - {{order.needby | date : "medium"}}</h5>
    </li>
  </ul>
</section>

<div ng-controller="homeCtrl" id="chart">
  <nvd3 options="options" data="data"></nvd3>
</div>
<section id="message_box">
  <h4>Message to employees</h4>
  <form enctype="text/plain" method="POST" action="mailto:?Subject=&body=Message%20goes%20here">
    <div class="message-form-group">
      <label class="message_box_label">Email</label>
      <input type="email" class="subject_message_box_input" name="Email">
    </div>
    <div class="message-form-group">
      <label class="message_box_label">Subject</label>
      <input type="text" class="subject_message_box_input" name="Subject">
    </div>
    <div class="message-form-group">
      <label class="message_box_label">Message</label>
      <input type="text" class="message_message_box_input" name="Message">
    </div>
    <div>
      <button type="submit" class="message_button" ng-disabled="disabled">Submit</button>
    </div>
  </form>
</section>

<div class="driver_column">
  <h3>Driver online Status</h3>
  <ol class="custom_counter">
    <li ng-repeat="driver in drivers">
      <h4>
        {{driver.first_name}}
        {{driver.last_name}}
        <span>- Offline</span>
      </h4>
    </li>
  </ol>
</div>
<div class="admin_column">
  <h3>Admin online Status</h3>
  <ol class="custom_counter">
    <li ng-repeat="admin in admins" ng-class="{'last':$last}">
      <h4>
        {{admin.first_name}}
        {{admin.last_name}}
        <span class="isOffline" ng-show="!isloggedin">- Offline</span>
        <span class="isOnline" ng-hide="isloggedin">- Online</span>
      </h4>
    </li>
  </ol>
</div>
