<header>
  <h1 class="homepage_h1">Company Name</h1>
  <div class="account_logout_links">
    <a href="home/myaccount" title="link to my account page">My Account</a> |
    <a href="logout" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Driver</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to Stats page">Stats</a></li>
    </ul>
  </nav>
</header>
<section class="split">
  <h3>Quick Glance</h3>
  <ul ng-repeat="order in orders | orderBy:'needby' | limitTo: 5">
    <li>
      <h4 class="border_top">{{order.firstname}} {{order.lastname}}</h4>
        <h5 class="light_gray">{{order.address}} {{order.zip}}</h5>
        <h5 class="light_gray">{{order.amount}} {{order.amountType}} {{order.orderType}}</h5>
        <h5 class="light_gray"><b>Need by</b> - {{order.needby | date : "medium"}}</h5>
    </li>
  </ul>
</section>

<div id="chart"></div>

<section id="message_box">
  <h4>Message to admins and drivers</h4>
  <form>
    <div class="form-group">
      <label class="message_box_label">Subject</label>
      <input type="text" class="subject_message_box_input" name="subject">
    </div>
    <div class="form-group">
      <label class="message_box_label">Message</label>
      <input type="text" class="message_message_box_input" name="message">
    </div>
    <div>
      <button type="submit" class="message_button" ng-disabled="disabled">Submit</button>
    </div>
  </form>
</section>

<div class="driver_column">
  <h3>Driver online Status</h3>
  <ol class="custom_counter">
    <li ng-repeat="driver in drivers">
      <h4>
        {{driver.first_name}}
        {{driver.last_name}}
        <span>- Offline</span>
      </h4>
    </li>
  </ol>
</div>
<div class="admin_column">
  <h3>Admin online Status</h3>
  <ol class="custom_counter">
    <li ng-repeat="admin in admins">
      <h4>
        {{admin.first_name}}
        {{admin.last_name}}
        <span>- Offline</span>
      </h4>
    </li>
  </ol>
</div>

<section id="quick_stats">
  <h3>Customer Messages</h3>
  <div ng-repeat="order in orders | orderBy:'-maintenance' | limitTo: 5" class="quick_stats_text">
    <h4>{{order.firstname}} {{order.lastname}} <pre>{{order.message}}</pre></h4>
  </div>
</section>

<section id="about_us">
  <h3>About Us</h3>
  <div class="third_1">
    <p class="top_border">This delivery or courier management service was designed to provide your company with the latest in web technology available to you at the lowest cost possible. We provide real time data exchange between your place of business, your employees and your costumers all with one service. </p>
  </div>
  <div class="third_2">
    <p class="top_border">With our customer website, your users will have the ability to easily order what they need from anywhere with an internet connection. With the order placed the information for that order will arrive on your management website where you can see the transactions happening in real time. From there you can send one of your drivers out following the directions from our mobile driver application giving them turn by turn directions to the destination.</p>
  </div>
  <div class="third_3">
    <p class="top_border">Your employees will have their job simplified 10 fold by using this service. The admins will have the ability to watch every aspect of the business transactions happen in real time from one management website. They will see the orders come in from the customer website, and will have the ability to send drivers out to fill the orders placed. Keeping your business moving like a well oiled machine.</p>
  </div>
</section>
