<section id="top_landing_page">
  <h1>Fortins Delivery/Courier</h1>
  <h1>Management Service</h1>
  <header>
    <h1 class="homepage_h1">Welcome</h1>
    <div class="account_logout_links">
      <a href="contact" title="link to contact page">Contact Us</a> |
      <a href="register" title="link to register page">Register</a>
    </div>
  </header>
  <h3 class="login_title">Login</h3>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label class="login_email_label">Email</label>
      <input type="text" class="login_email_input" class="form-control" name="email" ng-model="email">
    </div>
    <div class="form-group">
      <label class="login_password_label">Password</label>
        <input type="password" class="login_password_input" class="form-control" name="password" ng-model="password">
      </div>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <div>
        <button type="submit" class="login_button">Login</button>
      </div>
  </form>
</section>
<section id="service_overview">
  <h3>Service Overview</h3>
    <div class="third_1">
      <h4 class="bottom_border">Getting Started</h4>
      <img class="gettingStarted" src="../images/getting_started.png" alt="image of a getting started icon"/>
      <p>Simply contact our sales team and see how our service can easily integrate into your business seamlessly overnight. We can get you up and running on the web easily by providing you with a new way to brand yourself to hundreds of new potential customers. </p>
    </div>
    <div class="third_2">
      <h4 class="bottom_border">Migrate</h4>
      <img class="migrate" src="../images/migrate.png" alt="image of a migrate icon"/>
      <p>With our non-relational database setup we can easily migrate your business data into our service with a few set up commands. Then from there we had you the keys and allow your company to basically run itself. Your data is important to us that is why we take very special care to make sure your customer data and sensitive business data is secure from unwanted eyes. </p>
    </div>
    <div class="third_3">
      <h4 class="bottom_border">Grow</h4>
      <img class="grow" src="../images/grow.png" alt="image of a grow icon"/>
      <p>The strategy we have to grow your business is a simple but effective way to create a foothold in the web world of advertising. With your business now online your customers now no longer have to call to order their goods. They simply need to go online and place an order, having multiple ways to buy the items they need online or in person or even on the phone will increase profits and word of your business will grow at an impressive rate. </p>
    </div>
</section>
