<section id="section1">
  <h1>Fortins Delivery/Courier</h1>
  <h1>Management Service</h1>
  <header>
    <h1 class="homepage_h1">Welcome</h1>
    <div class="account_logout_links">
      <a href="contact" title="link to contact page">Contact Us</a> |
      <a href="register" title="link to register page">Register</a>
    </div>
  </header>
  <h3 class="login_title">Login</h3>
  <form class="form" ng-submit="login()">
    <div class="form-group">
      <label class="login_email_label">Email</label>
      <input type="text" class="login_email_input" class="form-control" name="email" ng-model="email">
    </div>
    <div class="form-group">
      <label class="login_password_label">Password</label>
        <input type="password" class="login_password_input" class="form-control" name="password" ng-model="password">
      </div>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <div>
        <button type="submit" class="login_button">Login</button>
      </div>
  </form>
</section>
<section id="section2">
  <h3>Service Overview</h3>
    <div class="third_1">
      <h4 class="bottom_border">Getting Started</h4>
      <img class="gettingStarted" src="../images/getting_started.png" alt="image of a getting started icon"/>
      <p>Simply contact our sales team and see how our service can easily integrate into your business seamlessly overnight. We can get you up and running on the web easily by providing you with a new way to brand yourself to hundreds of new potential customers. </p>
    </div>
    <div class="third_2">
      <h4 class="bottom_border">Migrate</h4>
      <img class="migrate" src="../images/migrate.png" alt="image of a migrate icon"/>
      <p>With our non-relational database setup we can easily migrate your business data into our service with a few set up commands. Then from there we had you the keys and allow your company to basically run itself. Your data is important to us that is why we take very special care to make sure your customer data and sensitive business data is secure from unwanted eyes. </p>
    </div>
    <div class="third_3">
      <h4 class="bottom_border">Grow</h4>
      <img class="grow" src="../images/grow.png" alt="image of a grow icon"/>
      <p>The strategy we have to grow your business is a simple but effective way to create a foothold in the web world of advertising. With your business now online your customers now no longer have to call to order their goods. They simply need to go online and place an order, having multiple ways to buy the items they need online or in person or even on the phone will increase profits and word of your business will grow at an impressive rate. </p>
    </div>
</section>
<section id="section3">
  <h3 class="price_overview_border">Price Overview</h3>
    <div class="third_1">
      <h4 class="price_overview">Free Version</h4>
      <div class="box_1">
        <h2>Free</h2>
        <p>Because our service is new to the market we are offering a free service to test how your company will improve using our service. We have no tested data on how well this service will do, that is why we are offering a free service to prove how well this service will work and potentially grow your company. Please call and ask about the free test service today!</p>
      </div>
    </div>
    <div class="third_2">
      <h4 class="price_overview">Standard Basic Service</h4>
      <div class="box_2">
        <h2>$499.99</h2>
        <p>This is our regular service and will be the basic package. After initially getting our service implemented into your company we will offer a overhead watch for 3 months. After this 3 month period we want your comapany to provide 499.99 every 3 months for our team to stay with your company and take care of any problems that may arise. </p>
      </div>
    </div>
    <div class="third_3">
      <h4 class="price_overview">Premium Full Service</h4>
      <div class="box_3">
        <h2>$1499.99</h2>
        <p>This is our Premium service and will provide your company with the best we have to offer. We will implement our service with this first initial payment. After this we will stay with your company taking care of any problems that may arise for 9 months. </p>
      </div>
    </div>
</section>
<section id="about_us">
  <h3>About Us</h3>
  <div class="third_1">
    <p class="top_border">This delivery or courier management service was designed to provide your company with the latest in web technology available to you at the lowest cost possible. We provide real time data exchange between your place of business, your employees and your costumers all with one service. </p>
  </div>
  <div class="third_2">
    <p class="top_border">With our customer website, your users will have the ability to easily order what they need from anywhere with an internet connection. With the order placed the information for that order will arrive on your management website where you can see the transactions happening in real time. From there you can send one of your drivers out following the directions from our mobile driver application giving them turn by turn directions to the destination.</p>
  </div>
  <div class="third_3">
    <p class="top_border">Your employees will have their job simplified 10 fold by using this service. The admins will have the ability to watch every aspect of the business transactions happen in real time from one management website. They will see the orders come in from the customer website, and will have the ability to send drivers out to fill the orders placed. Keeping your business moving like a well oiled machine.</p>
  </div>
</section>
