<header>
  <a href="home" title="escape route link to homepage"><img src="../images/Logo_1.png" alt="image of NC&O logo"/></a>
  <h1 class="main_h1">Fortins Management Service</h1>
  <div class="account_logout_links">
    <a href="myaccount" title="link to my account page">My Account</a> |
    <a href="logout" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Drivers</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to orders page">Orders</a></li>
    </ul>
  </nav>
</header>
<h2>Your Account</h2>
<div class="myaccount_styles">
  <li><strong>First Name:</strong> {{first_name}}</li>
  <li><strong>Last Name:</strong> {{last_name}}</li>
  <li><strong>Email:</strong> {{email}}</li>
  <li><strong>Password:</strong> {{password}}</li>
  <li><strong>Gender:</strong> {{gender}}</li>
  <li><strong>Phone:</strong> {{phone_number}}</li>
  <li><strong>Street Address:</strong> {{street_address}}</li>
  <li><strong>Postal Code:</strong> {{postal_code}}</li>
  <li><strong>Position:</strong> {{position}}</li>
  <li><strong>Date Created:</strong> {{date_created}}</li>
</div>
<a class="update_data" href="updateAdmin" title="link to update admin page">Edit Data</a>
