<header>
  <h1 class="homepage_h1">Fortins Management Service</h1>
  <div class="account_logout_links">
    <a href="home" title="link to my account page">My Account</a> |
    <a href="login" title="link to logout page">Logout</a>
  </div>
  <nav>
    <ul>
      <li><a href="home" title="link to Homepage">Home</a></li>
      <li><a href="drivers" title="link to Drivers page">Driver</a></li>
      <li><a href="admins" title="link to Admins page">Admins</a></li>
      <li><a href="customers" title="link to Customers page">Customers</a></li>
      <li><a href="stats" title="link to Orders page">Orders</a></li>
    </ul>
  </nav>
</header>
<h2>Orders</h2>

<table>
  <tr>
    <th>Full Name</th>
    <th>Order Timestamp</th>
    <th>Address</th>
    <th>Order Info</th>
    <th>Needby Date</th>
  </tr>
  <tr ng-repeat="order in orders">
    <td>{{order.firstname}} {{order.lastname}}</td>
    <td>{{order.timestampCreated | date : "medium"}}</td>
    <td>{{order.address}} {{order.zip}}</td>
    <td>{{order.orderType | uppercase}} {{order.amount}} {{order.amountType}}</td>
    <td>{{order.needby | date : "medium"}}</td>
  </tr>
</table>
